.profile {
    display: flex;
    font-family: ttb;
}

.description {
    margin-top: 2rem;
    text-align: center;
  }
  
  .progressbar__label {
    font-size: 2.5rem;
    transform: translate(-50%, 0) !important;
  }
  
 